@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.App {
  text-align: center;
}

body {
  background-color: lightgoldenrodyellow;
}

h1 {
  color: blue;
}

#championnames {
  font-family: 'Lora', serif;
}